* {
  font-family: Helvetica;
  scroll-behavior: smooth;
}
@font-face {
  font-family: Helvetica;
  src: url(./assets/Helvetica-Font/helvetica-light-587ebe5a59211.ttf);
}


.navbar ul li a {
  /* color: #ffffff; */
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  height: 21px;
 font-weight: 600;
  /* color: #4A4A4A; */
  font-family: Helvetica;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.title1 {
  font-size: 300%;
  position: absolute;
  color: #fff;
  font-family: Helvetica;
  top: 52%;
  left: 7%;
  letter-spacing: 0.8px;
  line-height: 65px;
  font-weight: bold;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.sub-title{
  height: 90px;
  width: 601px;
  color: #FFFFFF;
  top: 80%;
  left: 7%;
  position: absolute;
  font-family: "Helvetica Neue";
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 30px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.special-text{
  padding: 8px 5px;
  background-color: #ffd600;
  color: #000;
}

#banner{
  margin-top: -109px;
}
#banner img{
  filter: brightness(50%)
}
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  font-family: ".SF NS Display";
  /* background-image: url("assets/landscape1.JPG"); */
  background-size: cover;
  /* margin-bottom: 200px; */
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("assets/landscape5.JPG") top center;
  background-size: cover;
  position: relative;
  top: 0;
}

#hero:before {
  content: "";

  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding: 0 15px;
}

#hero h1 {
  color: #ffffff;
  font-family: Lato;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
}
#hero p {
  height: 11%;
  width: 52%;
  color: #ffffff;
  font-family: Lato;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 28px;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.carousel-text {
  font-family: Lato;
  font-size: 18px;
}

.item {
  text-align: start;
}

.logos {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  flex-wrap: wrap;
  text-align: center;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.title {
  text-align: center;
}
.navbar {
  text-align: right;
}

.navbar ul li a {
  color: white;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.yellowline {
  margin-top: -35px;
}

.contact-text {
  font-size: 20px;
  font-family: Lato;
}

.footer {
  border-top: 1px solid #e0e0e0;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.body {
  background-color: #f7f7f7;
  padding: 20px;
  color: #4a4a4a;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  font-size: 20px;
}

.card {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 60px;
  padding-top: 60px;
  box-shadow: 0 2px 13px 0 rgba(150, 150, 150, 0.2);
}

.hero-text {
  font-weight: bold;
}

#Banner {
  background-image: url("assets/landscape1.jpg");
}

.details {
  font-size: 20px;
  font-style: Helvetica;
  font-weight: lighter;

}

.services-list li a {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
}

.toggle-img {
  height: 15px;
  width: 15px;
  margin-top: 7px;
  background: url(./assets/Plus.svg);
  margin-right: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.toggle-img-minus {
  height: 15px;
  width: 15px;
  margin-top: 7px;
  background: url(./assets/Minus.svg);
  margin-right: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}

.text {
  height: 29px;
  width: 439px;
  color: #4a4a4a;
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
}
.img-fluid {
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@media only screen and (max-width: 1024px) {
  header {
    margin-bottom: -500px;
  }
}

@media only screen and (max-width: 500px) {
  header {
    margin-bottom: -642px;
  }
  .navbar-toggler {
    background-color: beige !important;
  }
}
